.Button {
  border: none;
  cursor: pointer;
  z-index: 1000;

  height: 200px;
  width: 200px;
  background-color: teal;
  font-size: 30px;
}

.Image {
  background-color: transparent;
  height: 100px;
  width: 100px;
}
