.Wrapper {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 80%;
  height: 80%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 10%;
  box-shadow: 0 2px 3px #ccc;
  top: 10%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

.TopDiv {
  display: flex;
  margin-top: 30px;
}

.Para {
  color: black;
  z-index: 600;
  font-size: 30px;
}

.Cards {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
}

.NazadDugme {
  margin: 2rem;
}

.Ikonica {
  font-size: 20px;
}
